APP_NAME=Pessoas
APP_URL=http://127.0.0.1:8000

# para gerar a chave use: php artisan key:generate
APP_KEY=

# Testes
APP_ENV=local
APP_DEBUG=true

# Produção
#APP_ENV=production
#APP_DEBUG=false

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# SENHAUNICA-SOCIALITE ######################################
# https://github.com/uspdev/senhaunica-socialite
SENHAUNICA_KEY=fflch_sti
SENHAUNICA_SECRET=sua_super_chave_segura
SENHAUNICA_CALLBACK_ID=85

# URL do servidor oauth no ambiente de dev (default: no)
#SENHAUNICA_DEV="https://dev.uspdigital.usp.br/wsusuario/oauth"

# URL do servidor oauth para uso com senhaunica-faker
#SENHAUNICA_DEV="http://127.0.0.1:3141/wsusuario/oauth"

# Esses usuários terão privilégios especiais
#SENHAUNICA_ADMINS=11111,22222,33333
#SENHAUNICA_GERENTES=4444,5555,6666

# Se os logins forem limitados a usuários cadastrados (onlyLocalUsers=true),
# pode ser útil cadastrá-los aqui.
#SENHAUNICA_USERS=777,888

# Se true, os privilégios especiais serão revogados ao remover da lista (default: false)
#SENHAUNICA_DROP_PERMISSIONS=true

# Habilite para salvar o retorno em storage/app/debug/oauth/ (default: false)
#SENHAUNICA_DEBUG=true

# SENHAUNICA-SOCIALITE ######################################

# skin do laravel-usp-theme
# crie seu skin fazendo um pull request em https://github.com/uspdev/laravel-usp-theme
USP_THEME_SKIN=

REPLICADO_HOST=172.16.6.1
REPLICADO_PORT=1498
REPLICADO_DATABASE=seu_dbc
REPLICADO_USERNAME=seu_usuario
REPLICADO_PASSWORD=sua_senha
REPLICADO_PATHLOG=storage/logs/replicado.log

# O SQLSERVER 2016 na EESC tem de ativar isso
REPLICADO_SYBASE=1

# Aqui precisa ficar somente um código, não pode colocar todos separados por virgula
# pois alguns métodos não aceitam
REPLICADO_CODUNDCLG=8

# Habilita cache no replicado.
# Precisa instalar a biblioteca, o memcached, etc.
# Instruções em https://github.com/uspdev/cache
REPLICADO_USAR_CACHE=0

# Se vc vai usar o WSFOTO habilite ele
WSFOTO_USER=
WSFOTO_PASS=
WSFOTO_DISABLE=1