APP_NAME=Pessoas
APP_URL=http://127.0.0.1:8000

# para gerar a chave use: php artisan key:generate
APP_KEY=

# Testes
APP_ENV=local
APP_DEBUG=true

# Produção
#APP_ENV=production
#APP_DEBUG=false

# Força https mesmo configurando como http
# Necessário se a aplicação roda em HTTP mas está atrás de um proxy HTTPS
#APP_FORCE_HTTPS=true

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# SENHAUNICA-SOCIALITE ######################################
# https://github.com/uspdev/senhaunica-socialite
SENHAUNICA_KEY=fflch_sti
SENHAUNICA_SECRET=sua_super_chave_segura
SENHAUNICA_CALLBACK_ID=85

# URL do servidor oauth no ambiente de dev (default: no)
#SENHAUNICA_DEV="https://dev.uspdigital.usp.br/wsusuario/oauth"

# URL do servidor oauth para uso com senhaunica-faker
#SENHAUNICA_DEV="http://127.0.0.1:3141/wsusuario/oauth"

# Esses usuários terão privilégios especiais
#SENHAUNICA_ADMINS=11111,22222,33333
#SENHAUNICA_GERENTES=4444,5555,6666

# Se os logins forem limitados a usuários cadastrados (onlyLocalUsers=true),
# pode ser útil cadastrá-los aqui.
#SENHAUNICA_USERS=777,888

# Se true, os privilégios especiais serão revogados ao remover da lista (default: false)
#SENHAUNICA_DROP_PERMISSIONS=true

# Habilite para salvar o retorno em storage/app/debug/oauth/ (default: false)
#SENHAUNICA_DEBUG=true

# Código da unidade para identificar os logins próprios ou de outras unidades
SENHAUNICA_CODIGO_UNIDADE=

# LARAVEL-USP-THEME #########################################
# https://github.com/uspdev/laravel-usp-theme

# O laravel-usp-theme permite que seja criado links
# para outras aplicações da unidade
#USP_THEME_SISTEMAS_1='{"text":"Pessoas","url":"http://localhost/pessoas"}'
#USP_THEME_SISTEMAS_2='{"text":"LDAP","url":"http://localhost/ldap"}'

# Escolha o skin a ser utilizado (default=uspdev)
#USP_THEME_SKIN=

# LARAVEL-REPLICADO #########################################
# https://github.com/uspdev/laravel-replicado
# https://github.com/uspdev/replicado

REPLICADO_HOST=
REPLICADO_PORT=
REPLICADO_DATABASE=
REPLICADO_USERNAME=
REPLICADO_PASSWORD=

# Código da unidade
REPLICADO_CODUNDCLG=

# Todos os códigos de colegiados da unidade, separados por vírgula
REPLICADO_CODUNDCLGS=${REPLICADO_CODUNDCLG}

# Caminho do log (default=base_path('storage/logs/replicado.log'))
#REPLICADO_PATHLOG=

# Converte de/para UTF-8 (default=true)
#REPLICADO_SYBASE=

# habilita o uso do cache https://github.com/uspdev/cache (default=0)
# É necessário configurar a biblioteca antes de usar
#REPLICADO_USAR_CACHE=

# Tempo de expiração do cache (default=-1 -> default da biblioteca=1440 (s))
#REPLICADO_CACHE_EXPIRY=

# Tamanho mínimo para cachear (default=-1 -> default da bibloteca=32 (bytes))
#REPLICADO_CACHE_SMALL=

# Se true mostra o retorno de erros do BD (default=APP_DEBUG)
#REPLICADO_DEBUG=

# Se vc vai usar o WSFOTO habilite ele
WSFOTO_USER=
WSFOTO_PASS=
WSFOTO_DISABLE=1

# LARAVEL TOOLS #########################################
# https://github.com/uspdev/laravel-tools

# Se sua aplicação está atrás de um proxy e se comunica com o proxy por http mas o proxy 
# se comunica com o usuário por https, vc deve forçar o https no laravel (default = false).
#LARAVEL_TOOLS_FORCAR_HTTPS=false

# Ativa mensagens de debug (default = app.debug)
#LARAVEL_TOOLS_DEBUG=
